.container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-contact a {
    text-decoration: none;
}

.container-contact p {
    margin: 20px 0;
}

.social-media {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 26px;
    list-style-type: none;
    font-size: 1.2rem;
    background: linear-gradient(100deg, rgba(40,53,164,1) 0%, rgba(152,163,254,1) 100%);
    color: white;
    padding: 12px 50px;
    border-radius: 8px;
    margin-top: 30px;
    transition: 0.3s ease;
}

.social-media:hover {
    transform: scale(1.1);
    background: linear-gradient(0, rgba(40,53,164,1) 0%, rgba(152,163,254,1) 100%);
}

.nickname {
    font-family: 'Unbounded', sans-serif;
}

@media screen and (max-width: 770px){
    .container-contact h1 {
        font-size: 1.3rem;
    }

    .where-p {
        font-size: .9rem;
        max-width: 90%;
        text-align: center;
    }

    .social-media {
        font-size: .8rem;
        padding: 8px 38px;
    }
}