.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  max-width: 1224px;
  margin: 0 auto;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 56px;
  list-style-type: none;
}

.link-header {
  text-decoration: none;
  color: #0d335d;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 0;
  font-size: 1rem;
}

.link-header:hover {
  background: radial-gradient(50% 50% at 50% 50%, #ffcf9c 0%, transparent 100%);
}

.btn-menu {
  display: none;
  align-items: center;
  background: none;
  border: none;
}

.menu-icon {
  cursor: pointer;
  font-size: 2rem;
  color: #0d335d;
}

@media screen and (max-width: 770px) {
  .logo-img {
    width: 80px;
  }

  .navbar-links {
    display: none;
  }

  .btn-menu {
    display: flex;
  }
}
